//FONT
$font-stack: 'Josefin Sans', sans-serif;
$font-size: 16px;
$line-height: 1;
$title: 4em;
$subtitle: 2.2em;

//COLORS
$bg-color: #333;
$text-primary-color: #FAFAFA;

//MARGINS AND PADDINGS
$default-margin: 0 auto;
$default-padding: 8px;
$margin-top: 40px;
$margin-bottom: 20px;


//TRANSITIONS
$default-transition: all .2s ease-in;

//WIDTHS AND HEIGHTS
$full-width: 100%;
$container-width: 1240px;
$full-screen-height: 100vh;
